<ion-header>
  <ion-toolbar>
    <ion-title>
      {{art ? 'Art Details' : 'Add Art'}}
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text color="primary" showWhen="ios,core">Cancel</span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <form #artForm="ngForm" (ngSubmit)="save(artForm.value)">
    <input type="hidden" name="href" [(ngModel)]="art.href">
    <ion-row>
      <ion-col>
        <ion-list inset>
          <ion-item>
            <ion-input placeholder="Ranking" name="ranking" type="number"
                       required [(ngModel)]="art.ranking" #ranking></ion-input>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-list inset>
          <ion-item>
            <ion-input placeholder="Art Name" name="name" type="text"
                       required [(ngModel)]="art.name" #name></ion-input>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-list inset>
          <ion-item>
            <ion-input placeholder="Artist Name" name="artist" type="text"
                       required [(ngModel)]="art.artist" #artist></ion-input>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col *ngIf="art" text-center>
        <img src="{{art.imageURL}}">
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-list inset>
          <ion-item>
            <ion-input placeholder="Image URL" name="imageURL" type="text"
                       required [(ngModel)]="art.imageURL" #imageURL></ion-input>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div *ngIf="error" class="alert alert-danger">{{error}}</div>
        <button ion-button color="primary" full type="submit"
                [disabled]="!artForm.form.valid">Save</button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>